@use 'src/styles/smui/theme.scss';
@use '@fontsource/material-icons/400.css' as *;
@use '@fontsource/roboto/300.css' as *;
@use '@fontsource/roboto/400.css' as *;
@use '@fontsource/roboto-mono/300.css' as *;
@use '@fontsource/roboto-mono/400.css' as *;
@use '@material/typography/mdc-typography.scss' as *;
@use "src/styles/smui/smui-overrides.scss";

:root {
	@include smui-overrides.styles();

	font-family: Roboto, Arial, sans-serif;

	body {
		margin: 0;
	}

	code {
		font-family: Consolas, monospace;
	}
}
