@use "@material/theme/index.scss" with (
  // Svelte Colors!
  $primary: #c7b300,
  $secondary: #676778,
  // Other Svelte color: #40b3ff

  $background: #fff,
  $surface: #fff,

  $error: #b71c1c
);
